*{
  font-family: Arial, Helvetica, sans-serif;
  
}
.top_button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  
}
.add-topic-button {
  background-color: #5f8575; /* Колір кнопки */
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 24px;
  font-family: Arial, sans-serif;
  border-radius: 4px; /* Закруглені краї */
  cursor: pointer;

}
.dropdown-button {
  background-color: #f5f5f5; /* Світлий фон */
  color: black;
  border: 1px solid #ccc; /* Сіра рамка */
  padding: 8px 16px;
  font-size: 24px;
  font-family: Arial, sans-serif;
  border-radius: 4px; /* Закруглені краї */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#subroot{
  background-color: rgb(244, 236, 224);
}
#card{
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.interact_emo_window{
  position:relative;
  background-color: gray;
  border-radius: 10px;
  margin-top: 5px;


}
.outer_interact{
  position:absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #F6D88F,  #5f8575);
  width: 180px;
  border-radius: 10px;
  right: 0px;
  height: auto;
}
.in_interact{
  display: flex;
  
  flex-direction: row;
  align-items: center;
  width: 160px;
  height: auto;
  overflow: auto;
  scrollbar-width: none; /* Для Firefox */
  -ms-overflow-style: none; /* Для Internet Explorer та Edge старих версій */

}
.interact_emo_window span{
  background: none;
  display: inline;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    display: inline;
    margin: 5px;
}
.theme_list{ 
  box-sizing: border-box; 
}
.theme_out{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 5px;
  background-color: white;

}
.theme_in{
  border: 2px solid rgb(253, 190, 16);
  border-radius: 20px;
  
}
.user_header img{
  min-width: 50px; /* Ширина аватарки */
  max-width: 50px;
  min-height: 50px; /* Висота аватарки (має бути рівною ширині для квадрата) */
  min-width: 50px;
  border-radius: 50%; /* Робить форму елемента круглою */
  overflow: hidden; /* Гарантує, що контент не вийде за межі кола */
  margin:20px;
  background-size: cover; /* Фото займає весь простір елемента */
  background-position: center; /* Центрує зображення */
}
.theme_in small{
  float: right;
  color: gray;
  margin:10px;
  font-size: 18px;
}
.theme_in p{
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 95%;
  padding-left: 20px;
  font-size: 28px;
  text-align: left;
}
.user_header{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.user_header h4{
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 90%;
  text-align: left;
  margin-right: 5px;
  color: gray;
  font-size: 20px

}

.icons_menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 5px;
}
.disanlike button{
  border-radius: 20px;
  border: none; 
  outline: none;
  box-shadow: none;
  margin-left: 5px;
  margin-bottom: 5px;
  padding-right: 2px;
  font-size: 24px;
  background-color: rgb(220, 220, 220);
}

.chat_settings{
  display: flex;
  align-content: center;
  flex-direction: row;
}
.chat_settings span{
  margin: 0px;
  margin-left:5px;
  margin-right:5px; 
  font-size: 24px;
  cursor: pointer;
  user-select: none; /* Забороняє виділення тексту */
  -webkit-user-select: none; /* Для підтримки в Safari */
  -ms-user-select: none; /* Для старих версій Internet Explorer */
}